<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_AlarmNotificationService" />
                <binding name="NetNamedPipeBinding_DeviceNotificationService" />
                <binding name="NetNamedPipeBinding_CardMonitoringNotificationService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://serhat.simsoft.com.tr/Siskon.HubGatewayService/AlarmNotificationService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_AlarmNotificationService"
                contract="AlarmService.AlarmNotificationService" name="NetNamedPipeBinding_AlarmNotificationService">
                <identity>
                    <servicePrincipalName value="host/Serhat.simsoft.com.tr" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://serhat.simsoft.com.tr/Siskon.HubGatewayService/AlarmNotificationService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_DeviceNotificationService"
                contract="AlarmService.DeviceNotificationService" name="NetNamedPipeBinding_DeviceNotificationService">
                <identity>
                    <servicePrincipalName value="host/Serhat.simsoft.com.tr" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://serhat.simsoft.com.tr/Siskon.HubGatewayService/AlarmNotificationService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_CardMonitoringNotificationService"
                contract="AlarmService.CardMonitoringNotificationService"
                name="NetNamedPipeBinding_CardMonitoringNotificationService">
                <identity>
                    <servicePrincipalName value="host/Serhat.simsoft.com.tr" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>